<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://premiere.fr/sites/default/files/styles/scale_crop_1280x720/public/2021-01/ErhLy4NXcAA_o_t.jpeg);">
  <div class="container">
    <h1>These are <strong>my</strong> lists!</h1>
    <p>Change your life and see my tastes in movies !</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-4">
        <div class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.movies.last.present? ? list.movies.last.poster_url : 'https://premiere.fr/sites/default/files/styles/scale_crop_1280x720/public/2021-01/ErhLy4NXcAA_o_t.jpeg' %>)">
          <%= link_to list.name, list_path(list.id),class: "text-white-card" %>
        </div>
      </div>
          <% end %>
  </div>
  <%= link_to "Create a List", new_list_path, class: "btn btn-ghost" %>
</div>
